.App {
    
    /* color: white; */
   
    /* box-sizing: border-box; */
    width: 100%;
  }
  
  .react-tabs {
    display: flex;
    /* margin-left: 36px; */
    width: 100%;
    height: auto;
    /* border: 1px solid #3c3e43; */
    color: black;
    background: #ffffff;
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background: #ffffff;
  }
  
  .react-tabs__tab {
    height: 100px;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
    color: black;
    max-width:450px;
  }
  
  .react-tabs__tab--selected {
    background: #f7fcfc;
    border-color: #ffffff;
    border-left: 4px solid #3fbbc0;
    color: rgb(0, 0, 0);
    width: 100%;
    transition: .002s;
    outline: none;
    color:#3fbbc0;

  }
  
  .react-tabs__tab-panel {
    display: none;
    width: 100%;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .react-tabs__tab {
    padding-left: 24px;
  }
  
  .react-tabs__tab--selected {
    padding-left: 21px;
  }
  
  .panel-content {
    text-align: start;
  }

  .react-tabs__tab--selected:focus{
    color:#3fbbc0;
  }
  